# Files to not send to docker in the COPY or ADD commands.

# docker files
Dockerfile
.dockerignore
docker-compose.yml

# git commits
.git/
.gitignore

elm-stuff/
node_modules/

# Superfluous files created by Vim
Session.vim
tags
tags.lock

