# Files to not send to docker in the COPY or ADD commands.

# docker files
Dockerfile
.dockerignore
docker-compose.yml

# git commits
.git/
.gitignore

# Don't share libs built for OSX.
# stack build directory
.stack-work/ # Haskell
elm-stuff/ # Elm
node_modules/ # Node

scripts/ # Superfluous scripts

# Superfluous files created by Vim
Session.vim
tags
tags.lock

